@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc.Extensions
@using Sitecore.SharedSource.EditableDictionary.Statics
@model Sitecore.Mvc.Presentation.RenderingModel

<h1>Dictionary Test</h1>

@Html.Raw(EditableTranslate.Text("Dictionary.Test"))
